-02 tethering section: expand or remove?

Section 3.4.3 seems to want to discuss the implications for tethering via ND proxy.  I think this may be extraneous or confusing in this document.

If this section is kept, it should probably say that implementations doing 64share (7278) SHOULD replicate suitable PVD information in RAs to its downstream clients.

Upon further reflection, we probably should have a section that details how routers relay the PVD OPT, what they preserve and what they can extend.  I think this is probably obvious to us, but is worth stating explicitly anyway.

Hello Erik.

What do you think about the following change ?

```diff
-          <t>The situation when a node receives an RA on one interface (e.g.
-          cellular) and shares this connectivity by also acting as a router by
-          transmitting RA on another interface (e.g. WiFi) is known as
-          'tethering'. It can be done as ND proxy. The exact behavior is out
-          of scope of this document but it is expected that the one or several
-          PvD associated to the shared interface (e.g. cellular) will also be
-          advertised to the clients on the other interface (e.g. WiFi).</t>

+          <t>The situation when a host shares connectivity from an upstream
+          interface (e.g. cellular) to a downstream interface (e.g. WiFi) is
+          known as 'tethering'. Techniques such as ND-proxy
+          <xref target="RFC4389"/>, 64share <xref target="RFC7278"/> or prefix
+          delegation (e.g. using DHCPv6-PD <xref target="RFC3633"/>) may be
+          used for that purpose.</t>
+          <t>Whenever the RAs received from the upstream interface contain a
+          PVD RA option, hosts that are sharing connectivity SHOULD include a
+          PVD Option within the RAs sent downstream with:
+            <list>
+              <t>The same PVD-ID FQDN.</t>
+              <t>The same H-bit, Delay and Sequence Number values.</t>
+              <t>The L bit set whenever the host is sharing IPv4 connectivity
+              received from the same upstream interface.</t>
+              <t>The bits from the Reserved field set to 0.</t>
+            </list>
+            The values of the R-bit, Router Advertisement message header and
+          Options field depend on whether the connectivity should be shared
+          only with PvD aware hosts or not (see <xref target="router"/>). In
+          particular, all options received within the upstream PvD option and
+          included in the downstream RA SHOULD be included in the downstream
+          PvD option.
+          </t>
```

I merged the proposed change.