-02 PvD option fragmentation needs some elucidation

-02 says:

   Whenever an RA, for a single PvD, would need to be sent via multiple
   packets, the PvD option header (i.e., all fields except the 'Options'
   field) MUST be repeated in all the transmitted RAs.  But the options
   within the 'Options' field, MAY be transmitted only once, included in
   one of the transmitted PvD options.

I think there is much to be clarified here.  Do we have examples of other documents that talk about to fragment and reassemble RAs?  If not, perhaps we should not attempt to introduce the text in this doc.

Realistically, if an RA (with or without PVD OPT) is filled with 100 RIOs (for example) and it spans multiple packets, do current IPv6 implementations relying upon "next-header fragment" semantics to reassemble?  I seem to remember guidance that we shouldn't send fragment-required RAs because it can be used to defeat poor RA guard implementations... Maybe we don't, I only see 7113 and 6949.

The following text can be found in Section 6.2.3 of RFC4861:

> If including all options causes the size of an advertisement to exceed the link MTU, multiple advertisements can be sent, each containing a subset of the options.

I will try to craft some text that clarifies that this is what the current approach is based on, and **not** IPv6 fragmentation.

What do you think about the following change ?

```diff
-        <t>Whenever an RA, for a single PvD, would need to be sent via
-        multiple packets, the PvD option header (i.e., all fields except the
-        'Options' field) MUST be repeated in all the transmitted RAs. But the
-        options within the 'Options' field, MAY be transmitted only once,
-        included in one of the transmitted PvD options.</t>

+        <t>As specified in <xref target="RFC4861"/>, when the set of options
+        causes the size of an advertisement to exceed the link MTU,
+        multiple advertisements can be sent, each containing a subset of the
+        options. In such cases, the PvD option header (i.e., all fields except
+        the 'Options' field) MUST be repeated in all the transmitted RAs. But
+        the options within the 'Options' field, MAY be transmitted only once,
+        included in one of the transmitted PvD options.</t>
```

Hello Erik,

Are you good with the proposed change ?
If you have no objection, I will include it in the next change.

Thanks.

I merged the proposed change.